<!-- <div class="postingform">
<form role="form">
<div class="form-group"> -->
<br><br>
<%= form_for @post, html: { multipart: true } do |f| %>

    <%= f.label :comment %>
	<%= f.text_field :comment %>

    <%= f.label :tag_names, 'Tags' %>
	<%= f.text_field :tag_names %>

    <%= f.label :picture %>
	<%= f.file_field :picture %>

	<%= f.hidden_field :longitude, class:"longitude" %>

	<%= f.hidden_field :latitude, class:"latitude" %>
  
  	<%= f.submit 'Add' %>
<% end %>
<!-- </div>
</form>
</div> -->

<script>
$(document).ready(function() {
    GMaps.geolocate({
        success: function(position) {
            //map.setCenter(position.coords.latitude, position.coords.longitude);
            var latitude_data = position.coords.latitude;
            var longitude_data = position.coords.longitude;
	    	$('.longitude').val(longitude_data);
            $('.latitude').val(latitude_data);
            console.log(latitude_data);
            console.log(longitude_data);
        },
        error: function(error) {
            alert('Geolocation failed: ' + error.message);
        },
        not_supported: function() {
            alert("Your browser does not support geolocation");
        },
    });
});
</script>