<template id="likes-template">
<div class="each-likes" data-id="{{ user }}">{{ user }}</div>
</template>
<template id="hates-template">
<div class="each-hates" data-id="{{ user }}">{{ user }}</div>
</template>
<div class="col-md-4 post" data-id="<%= post.id %>">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><%= post.comment %></h3>
		</div>
		<div class="panel-body">
			<% if post.picture.exists? %>
				<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
			<% end %>
			<% post.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag), class:'tags-render' %>
			<% end %>
			<hr>
			
			<% if user_signed_in? %>
				<% if user_likes?(post) %>
					<%= link_to "Unlike", post_like_path(post, user_likes_for(post)), class:'btn btn-info like' %>
				<% else %>
					<%= link_to "Like", post_likes_path(post), class:'btn btn-info like'%>
				<% end %>
			<% end %>
			
			<% if user_signed_in? %>
				<% if user_hates?(post) %>
					<%= link_to "Unhate", post_hate_path(post, user_hates_for(post)), method: :delete, class:'btn btn-warning hate'%>
				<% else %>
					<%= link_to "Hate", post_hates_path(post), method: :post, class:'btn btn-warning hate' %>
				<% end %>
			<% end %>
			<hr>

			<%= link_to "Buy", new_post_charge_path(post), class:'btn btn-lg btn-default' %>
			<%= link_to "❤ #{post.likes.count}", '#', class:'btn btn-lg btn-default btn-like' %>
			<%= link_to "☁ #{post.hates.count}", '#', class:'btn btn-lg btn-default btn-hate' %>

			<% if !post.latitude.nil? %>
					<%= link_to "Map", post_map_path(post), class:'glyphicon glyphicon-map-marker btn btn-lg btn-default btn-hate' %>
			<% end %>
			<br>

			Who liked this?
			<div class="likes">
				<% post.likes.each do |like| %>
					<div class="each-likes" data-id="<%= like.user.email %>">
						<%= like.user.email %>
					</div>
				<% end %>
			</div>
			<br>

			Who hated this?
			<div class="hates">
				<% post.hates.each do |hate| %>
					<div class="each-hates" data-id="<%= hate.user.email %>">
						<%= hate.user.email %>
					</div>
				<% end %>
			</div>
			<hr>

			<div class="comments-display" data-comment-id="<%= post.id %>" %>
				<% if @comments.any? %>
					<br><% post.comments.each do |comment| %>
						<%= comment.comment %> | <%= comment.user.email %><br>
					<% end %>
				<% else %>
					<div class="no-comments" data-comment-id="<%= post.id %>">No Comments</div>
				<% end %>
			</div>
			<br>
			
			<hr>
			<%= form_for [post, @comment] do |f| %>
				<%= f.label :comment %>
				<%= f.text_field :comment %>
				<%= f.submit 'Post'%>
			<% end %>

			<hr>
			<% if post.user == current_user || true && user_signed_in? %>
				<%= link_to "Delete", post_path(post), method: :delete , class: 'btn btn-danger'%>
			<% end %>
		</div>
	</div>
</div>