<template id="likes-template">
{{ like }}
</template>

<div class="col-md-4" data-id="<%= post.id %>">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= post.comment %></h3>
  </div>
  <div class="panel-body">
   
		<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
				<% post.tags.each do |tag| %>
					<%= link_to tag.name, tag_path(tag), class:'tags-render' %>
				<% end %>

		<hr>
			
	<% if user_signed_in? %>
			<% if user_likes?(post) %>
				<%= link_to "Unlike", post_like_path(post, user_likes_for(post)), method: :delete, 	class:'btn btn-info unlike' %>
			<% else %>
				<%= link_to "Like", post_likes_path(post), method: :post, class:'btn btn-info like'%>
			<% end %>
	<% end %>
	
	<% if user_signed_in? %>
			<% if user_hates?(post) %>
				<%= link_to "Unhate", post_hate_path(post, user_hates_for(post)), method: :delete, class:'btn btn-warning unhate'%>
			<% else %>
				<%= link_to "Hate", post_hates_path(post), method: :post, class:'btn btn-warning hate' %>
			<% end %>
	<% end %>
	<hr>
					Who liked this? 
					<div class="likes">
					<% post.likes.each do |like| %>
						<%= like.user.email %> 			
					<% end %>
					</div>
					<br>
					Who hated this?
					<% post.hates.each do |hate| %>
						<%= hate.user.email %>
					<% end %>
					<hr>
					<% if @comments.any? %>
				<br><% post.comments.each do |comment| %>
					<%= comment.comment %><br>
				<% end %><br>
			<% else %>
				No Comments
			<% end %>
			
				<hr>
		<%= form_for [post, @comment] do |f| %>

			<%= f.label :comment %>
			<%= f.text_field :comment %>

			<%= f.submit 'Post' %>
		<% end %>
		<hr>
		<% if post.user == current_user || true %>
			<%= link_to "Delete", post_path(post), method: :delete , class: 'btn btn-danger'%>
			<% end %>
  </div>
</div>
		
</div>
			
