 <div class="jumbotron">
      <div class="container">
        <h1>Pizza Poser!</h1>
        <p>Pizza Poser - we are here to change the world of posting pictures of Pizza as we know it. It´s also a revolution. Come in and stay a while. You can post your pictures of Pizza, tag them and comment Pizzas of others. Posting a picture of something that is not a Pizza results in instant banishment. Actual banishment like it´s 1580.</p>
        <p><%= link_to "Sign up", '#', class:'btn btn-default', data:{toggle:"modal", target: ".registration-modal"}%></p> 
 </div>
</div>
<div class="modal fade registration-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Signup</h4>
      </div>
      <div class="modal-body">
		  <%= form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>

		  <div>
        <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, required: true%>
      </div>

		  <div>
        <%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off" %>
      </div>

		  <div>
        <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

    </div>
      <div class="modal-footer">
        <%= f.submit "Sign up", class:"btn btn-default" %>
      </div>
    </div>
		<% end %>    
  </div>
</div>		

<div class="container">
  <div class="row">
    <% if @posts.any?  %>
      <%= render @posts %>
    <% else %>
      No Posts yet!<br>
    <% end %>
  </div>
</div>
 